name: weekly-tests
on:
  schedule:
    # Every Monday at 00:00 UTC
    - cron: "0 0 * * 1"
  pull_request:
    paths:
      - ".github/workflows/tests-weekly.yaml"

  push:
    paths:
      - .github/workflows/tests-weekly.yaml

  # Allows triggering the workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      enable_ssh_access:
        type: boolean
        description: "Enable ssh access"
        required: false
        default: false

jobs:
  integration-macos:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.13"]
        os: [macos-15-intel]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    steps:
      - name: Install Multipass
        run: |
          brew update
          brew install multipass
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
      - name: Enable ssh access
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.enable_ssh_access }}
        with:
          limit-access-to-actor: true
      - name: Run integration tests on MacOS
        env:
          UV_PYTHON: ${{ matrix.python }}
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_INSTALL: 1
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_UNINSTALL: 1
          PYTEST_ADDOPTS: "--no-header -vv -rN"
        run: |
          make setup-tests
          make test-fast
  integration-slow-macos:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.13"]
        os: [macos-15-intel]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Multipass
        run: |
          brew update
          brew install multipass
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
      - name: Enable ssh access
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.enable_ssh_access }}
        with:
          limit-access-to-actor: true
      - name: Run integration slow tests on MacOS
        env:
          UV_PYTHON: ${{ matrix.python }}
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_INSTALL: 1
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_UNINSTALL: 1
          PYTEST_ADDOPTS: "--no-header -vv -rN"
        run: |
          make setup-tests
          make test-slow

  integration-linux-lxd-distros:
    strategy:
      fail-fast: false
      matrix:
        lxd-image:
          - almalinux/9
          - amazonlinux/2023
          - centos/9-Stream
          - debian/12
          - debian/13
          - fedora/42
          - mint/virginia
          - mint/xia
          - opensuse/tumbleweed
          - oracle/9
          - rockylinux/9
    runs-on: ubuntu-latest
    steps:
      - uses: canonical/setup-lxd@v1
      - uses: lengau/pristine-ubuntu-action@v0
      - name: Launch ${{ matrix.lxd-image }} container
        run: |
          lxc launch images:${{ matrix.lxd-image }} test-runner -c security.nesting=true
      - name: Install requirements in container
        run: |
          lxc exec test-runner -- ln -s /var/lib/snapd/snap /snap
          # Non Debian like distros need longer to get network for some reason
          sleep 10

          # centos-based distros need EPEL for snapd.
          if [[ ${{ matrix.lxd-image }} =~ almalinux* ]] || [[ ${{ matrix.lxd-image }} =~ amazonlinux* ]] || [[ ${{ matrix.lxd-image }} =~ centos* ]] || [[ ${{ matrix.lxd-image }} =~ rockylinux* ]]; then
            lxc exec test-runner -- dnf install epel-release
            lxc exec test-runner -- dnf upgrade
          fi

          # OpenSUSE tumbleweed
          if [[ ${{ matrix.lxd-image }} == 'opensuse/tumbleweed' ]]; then
              lxc exec test-runner -- zypper addrepo --refresh https://download.opensuse.org/repositories/system:/snappy/openSUSE_Tumbleweed snappy
              lxc exec test-runner -- zypper --gpg-auto-import-keys refresh
          fi

          lxc exec test-runner -- bash -c 'apt-get --yes install git make snapd fuse squashfuse build-essential libffi-dev || dnf install -y git make snapd libffi-devel gcc cargo python3-devel || zypper install -y snapd squashfuse fuse git make gcc libffi-devel python3-devel'
          lxc exec test-runner -- snap wait system seed.loaded
      - name: Clone repository
        run: |
          lxc exec test-runner -- git clone https://github.com/canonical/craft-providers
      - name: Set up tests
        run: |
          lxc exec test-runner --cwd /root/craft-providers --env CI=1 -- make setup-tests
      - name: Run tests
        run: |
          lxc exec test-runner --cwd /root/craft-providers --env CI=1 -- make test PYTEST_ADDOPTS='-vv -m lxd_instance'
