name: weekly-tests
on:
  schedule:
    # Every Monday at 00:00 UTC
    - cron: "0 0 * * 1"
  pull_request:
    paths:
      - ".github/workflows/tests-weekly.yaml"

  # Allows triggering the workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      enable_ssh_access:
        type: boolean
        description: "Enable ssh access"
        required: false
        default: false

jobs:
  lxd:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, ubuntu-24.04, ubuntu-24.04-arm]
        lxd-channel:
          - latest/candidate
          - latest/edge
          - 5.21/candidate
          - 5.21/edge
          - 5.0/candidate
          - 5.0/edge
        python-version: ["3.10", "3.12"]
        include:
          - os: ubuntu-22.04
            lxd-channel: 4.0/candidate
            python-version: "3.10"
          - os: ubuntu-22.04
            lxd-channel: 4.0/edge
            python-version: "3.10"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Pristine Ubuntu
        if: ${{ runner.os == 'Linux' && runner.environment == 'github-hosted' }}
        uses: lengau/pristine-ubuntu-action@v0
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
        with:
          lxd-channel: ${{ matrix.lxd-channel }}
          python-version: ${{ matrix.python-version }}
      - name: Set up tests
        run: |
          make -j setup-tests UV_PYTHON="${{ matrix.python-version }}"
      - name: Run tests
        run: |
          make test PYTEST_ADDOPTS="--no-header -v -rN -m lxd_instance"
  integration-macos:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.13"]
        os: [macos-15-intel]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    steps:
      - name: Install Multipass
        run: |
          brew update
          brew install multipass
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
      - name: Enable ssh access
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.enable_ssh_access }}
        with:
          limit-access-to-actor: true
      - name: Run integration tests on MacOS
        env:
          UV_PYTHON: ${{ matrix.python }}
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_INSTALL: 1
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_UNINSTALL: 1
          PYTEST_ADDOPTS: "--no-header -vv -rN"
        run: |
          make setup-tests
          make test-fast
  integration-slow-macos:
    strategy:
      fail-fast: false
      matrix:
        python: ["3.13"]
        os: [macos-15-intel]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Multipass
        run: |
          brew update
          brew install multipass
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
      - name: Enable ssh access
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.enable_ssh_access }}
        with:
          limit-access-to-actor: true
      - name: Run integration slow tests on MacOS
        env:
          UV_PYTHON: ${{ matrix.python }}
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_INSTALL: 1
          CRAFT_PROVIDERS_TESTS_ENABLE_MULTIPASS_UNINSTALL: 1
          PYTEST_ADDOPTS: "--no-header -vv -rN"
        run: |
          make setup-tests
          make test-slow
